body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-main-div {
    display: flex;

}



.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;


}

.menu {
    display: flex;
    gap: 40px;
    padding: 24px 0;

}

.adress-list {
    display: flex;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu a {
    padding: 24px 0;
}

.nav-bar {
    display: flex;
    align-items: center;
}

.header-complated {
    width: 1158px;
    padding: 0 15px;

}

.list {
    display: flex;
    gap: 24px;

}

.ourfeatureslistitems {
    width: calc((100% - 72px) / 4);
}

.logo-header {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

img {
    display: block;
}

.logo-span {
    color: #2e2f42;
}

.nav-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #404bbf;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}



.nav-list:hover {
    color: #404bbf;
}

.nav-list:focus {
    color: #404bbf;
}

.adres {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.adres-list:first-child {

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adres-list {
    color: #434455;
}

.adres-list:hover {
    color: #404bbf;

}

.adres-list:focus {
    color: #404bbf;
}

.section-four {
    padding: 120px 0 120px 0;
}

.adress-second {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sect-ilk {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-name.jpeg);
    background-color: #2e2f42;
    padding: 188px 0;
    max-width: 1440px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.ilkbaslik {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 496px;

}

.sect-two {

    padding: 120px 0;

}



.simge-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.social-list-item-svg {
    fill: #f4f4fd;
}

.buttonilk {
    display: block;
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttonilk:hover {
    background-color: #404BBF;
}

.buttonilk:focus {
    background-color: #404BBF;
}

.ourbaslik {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.featureslist {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.social-list-item-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item-link:hover {

    background-color: #404bbf;

}

.social-list-item-link:focus {
    background-color: #404bbf;
}

.sect-third {
    background-color: #f4f4fd;
    padding: 120px 0;

}

.social-list-item {
    width: 40px;
    height: 40px;


}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;


}

.third-list {
    display: flex;
    gap: 24px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);


}

.portfolio-list-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}

.portfolio-list:first-child {
    transform: translateY(0%);
}

.portfolio-list-item:hover .portfolio-list-item-p {
    transform: translateY(0%);
}



.portfolio-list-item-p {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item-img {
    position: relative;
    overflow: hidden
}

.ourteamheader {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.our-team-name-div {
    padding: 32px 0;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.third-list-li {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}

.teamname {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;

}



.team-p {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-category {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.porfolio-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}



.portfolio-list-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

}

.portfolio-list-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-container-second {}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-span {
    color: #f4f4fd;
}

:root {
    --stil-color: #F4F4FD;
}

.footer-p {
    line-height: 1.5;
    color: var(--stil-color);
    letter-spacing: 0.02em;


}

.footer-container-main {
    display: flex;
    align-items: baseline;


}

.footer-logo-p-container {
    margin-right: 120px;

}

.footer-social-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    gap: 16px;
    color: #FFFFFF;
    margin-bottom: 16px;


}

.footer-social-list {
    display: flex;
    gap: 16px;

}

.footer-social-list-item {
    width: 40px;
    height: 40px;


}



.footer-social-list-item-a {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-item-a:hover {
    background-color: #31d0aa;
}

.footer-social-list-item-a:focus,
.footer-social-list-item-a:active {
    background-color: #31d0aa;
    ;
}

.footer-social-list-item-svg {
    fill: #f4f4fd;
}